# System files
# ------------
Icon
.DS_Store
"Icon\r"
Icon?
.well-known
.dropbox

# Temporary files
# ---------------
/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------
/site/config/config.php

# Kirby accounts
# ---------------
/site/accounts/*
!/site/accounts/index.html

# Avatars
# ---------------
/assets/avatars/*
!/assets/avatars/index.html

# Static assets
# ---------------
/assets/node_modules/

# Plugins
# ---------------
# /site/plugins
# /site/fields

# Vendor
# ---------------
/vendor

# Content
# ---------------
/Content
