.left-container.standard {
    width: calc(50% - 2rem);
    float: left;
    // margin-top: 8rem;
    margin-right: 0;
    padding-bottom: 0;
}
.left-container {
    margin-right: calc(50% + 2rem);
    // padding-bottom: 3rem;
}
.left-container.parallax {
    margin-right: 0;
    overflow: hidden;
    position: fixed;
    top: 7rem;
    left: 2.5%;
    width: calc(48.5% - 2rem);
    z-index: 1;
    @include at-least($M) {
        left: 12.5%;
        width: calc(37.5% - 2rem);
    }
    @include at-least($L) {
        left: 16.65%;
        width: calc(33.35% - 2rem);
    }
    @include at-least($XL) {
        left: 25%;
        width: calc(25% - 2rem);
    }
}
.right-container.standard {
    width: calc(50% - 2rem);
    float: right;
    margin-left: 0;
}
.right-container {
    margin-left: calc(50% + 2rem);
    // margin-top: 2rem;
}
.right-container.parallax {
    margin-left: 0;
    overflow: hidden;
    position: fixed;
    top: 7rem;
    // padding-top: 2rem;
    // padding-bottom: 0rem;
    right: 2.5%;
    width: calc(48.5% - 2rem);
    z-index: 1;
    @include at-least($M) {
        right: 12.5%;
        width: calc(37.5% - 2rem);
    }
    @include at-least($L) {
        right: 16.65%;
        width: calc(33.35% - 2rem);
    }
    @include at-least($XL) {
        right: 25%;
        width: calc(25% - 2rem);
    }
}
.right-content {

}
.project-img {
    margin-bottom: 2rem;
    display: block;
    &:last-child {
        margin-bottom: 0;
    }
}
.right-content img {
  display: block;
  width: 100%;
}
