.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:999;
    height: 7rem;
    background-color: $background-color;
}
.site-logo {
    float: left;
    margin-right: 1rem;
    margin-top: 1.5rem;
}
#logo {
    height: 3rem;
    margin-right: 1rem;
    width: auto;
}

// .home .site-header {
//     position: absolute;
// }
// .home .site-header .container {
//     background-color: $green;
//     height: 7rem;
//     padding: 2rem;
//     color: #fff;
//     position: relative;
// }
// .home-title {
//     position: absolute;
//     top: 2rem;
//     left: 15%;
// }
// .home-logo {
//     position: absolute;
//     right: -1rem;
//     bottom: -2rem;
// }
// #home-title-img {
//     height: 3rem;
//     width: auto;
// }
// #home-logo-img {
//     height: 8rem;
//     width: auto;
// }

.home-header{
    @extend .container;
}
.home-header-link {
    display: block;
    width: 100%;
}
#home-header-img {
    .g {
        fill: $green;
    }
    .w {
        fill: #fff;
    }
}

.page-title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    display: block;
    // float: left;
    // margin-top: 1rem;
    // margin-bottom: 1rem;
}

.menu-container {
    float: right;
    position: relative;
    margin-top: 1rem;
    z-index: 999;
    @include at-least($M) {
        height: 4rem;
    }
    @include until($L) {
        text-align: right;
    }
    // @include until($M) {
    //     min-width: calc(50% - 2rem);
    // }
}

// display top to bottom on smaller screens
.menu {
    display: flex;
    @include until($L) {
        flex-direction: column;
    }
}

.menu-item {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0;
    @include at-least($L) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 0.75rem;
        height: 100%;
        margin-right: 1rem;
        letter-spacing: 0.5em;
    }
    &:last-child {
        margin-right: 0;
    }
    &.toggle-text {
        color: $link-color;
        &:hover {
            color: $link-hover-color;
        }
    }
}
#menu-toggle-label {
    margin-right: 1rem;
}
#submenu-toggle-label {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
        cursor: pointer;
    }
}
.submenu-items {
    list-style-type: none;
}
.submenu-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    @include at-least($L) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

#search-icon {
    width: 1em;
    height: 1em;
    display: inline;
    position: relative;
    top: 0.15em;
    &:hover {
        path {
            fill: $link-hover-color;
        }
    }
}

// hide input button everywhere 
.menu-toggle {
    display: none;
    visibility: hidden;
}

// hide menu buttons on larger screens
#menu-toggle-label, #menu-toggle-label {
    @include at-least($L) {
        display: none;
        visibility: hidden;
    }
}

// hide menu on smaller screens
.menu {
    position: relative;
    @include until($L) {
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        background-color: $background-color;
        padding: 2rem;
        border-radius: $base-border-radius;
        box-shadow: -0.5rem 0.5rem 1.25rem 0.1rem hsla(0,0%,0%,0.35);
    }
}

// hamburger icon for main menu
.toggle-button:after {
    content: '≡';
    font-size: 2rem;
    font-weight: 100;
}

// main menu open
#main-menu-toggle:checked {
    & ~ .menu {
        opacity: 1;
        display: flex;
        visibility: visible;
    }
    & ~ .toggle-container .toggle-button:after {
        content: '×'
    }
}

// hide submenu 
.submenu-items {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: $background-color;
}

// submenu open
#submenu-toggle:checked ~ .submenu-items, .submenu:hover .submenu-items {
    display: block;
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 4rem;
    padding: 1rem;
    box-shadow: -0.5rem 0.5rem 1.25rem 0.1rem hsla(0,0%,0%,0.35);
    border-radius: $base-border-radius;
    @include until($L) {
        top: 6rem;
        right: 0;
        text-align: right;
    }
}
