.site-footer {
    position: relative;
    z-index: 999;
    background-color: $background-color;
}
.footer-copyright {
    margin-bottom: 1.5rem;
}
.social-icon {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    svg {
        height: 100%;
        width: 100%;
    }
    &:hover {
        cursor: pointer;
    }
}

.random-content, .related-posts {
    border-top: 1px solid $light-grey;
    margin-top: 2rem;
}

.related-posts .collection {
    justify-content: flex-start;
    .related-post {
        margin-right: 4rem;
        &:nth-child(4) {
            margin-right: 0;
        }
    }
}
