.article .content {
    @extend .container;
}

.article .pagination {
    margin: 2rem auto;
    align-self: flex-end;
}
.article-date {
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: block;
    @include at-least($M) {
        top: 0.25rem;
        font-size: 0.75rem;
        letter-spacing: 0.25em;
    }
    @include at-least($L) {
        letter-spacing: 0.5em;
    }
}

.article .left {
    a {
        @include link-underline($background-color, $text-color, $selection-color);
        &:hover {
            @include link-underline($background-color, $link-hover-color, $selection-color);
        }
    }
}
.article-link {
    margin-top: 4.5rem;
    position: relative;
    top: -3.5em;
    margin-bottom: -2rem;
    a {
        width: 100%;
        display: block;
        padding: 0.5rem 0;
        text-align: right;
        border-bottom: 1px solid $grey;
        &:hover {
            border-bottom: 1px solid $link-hover-color;
        }
    }
}
