%homepage-dark-bg {
    background-color: $lighter-grey;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover, &:focus, &:active {
        background-color: $lighter-grey;
        color: #fff;
    }
}

.home .site-header {
    transform: translate3d(0,-100%,0);
    transition: transform 0.3s ease-in-out;
}
// .home .site-header.unpinned {
//     transform: translate3d(0,0,0);
// }
.home .site-header.headroom--not-top {
    transform: translate3d(0,0,0);
}
.home .content {
    @extend .container;
    margin-top: 3rem;
}

// .home .menu-item, .home .menu-item:visited {
//     color: #fff;
//     &:hover, &:active {
//         color: $link-hover-color;
//     }
// }
// .home #search-icon path {
//     fill: #fff;
//     &:hover, &:active {
//         fill: $link-hover-color;
//     }
// }
// .home .menu-item:hover #search-icon path,
// .home .menu-item:active #search-icon path {
//     fill: $link-hover-color;
// }

.grid-item {
    margin-bottom: 3rem;
    width: 90%;
    @include at-least($M) {
        width: calc(50% - 2rem);
    }
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
.grid-item.visible, .no-js .grid-item {
    opacity: 1;
    visibility: visible;
}
.grid-sizer {
    @include at-least($M) {
        width: calc(50% - 2rem);
    }
}
.gutter-sizer {
    width: 3.99rem;
    @include at-least($M) {
        width: 3.99rem;
    }
}

.homepage-article {
    color: $grey;
    transition: color 0.3s ease-in-out;
    &:hover {
        color: $darker-grey;
        .homepage-article-body a {
            @include link-underline($background-color, $darker-grey, $selection-color);
            &:hover {
                @include link-underline($background-color, $link-hover-color, $selection-color);
            }
        }
        .homepage-article-link a {
            border-bottom: 1px solid $darker-grey;
            &:hover {
                border-bottom: 1px solid $link-hover-color;
            }
        }
    }
}
.homepage-article-image {
    margin-bottom: 1rem;
    width: 100%;
    img {
        width: 100%;
    }
}
.homepage-article-title, .homepage-article h2 {
    margin-bottom: 1rem;
    color: $dark-grey;
}
.homepage-article-title, .homepage-article-date {
    display: inline-block;
}
.homepage-article-date {
    display: none;
    float: right;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
    @include at-least($M) {
        top: 0.25rem;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
    }
    @include at-least($L) {
        letter-spacing: 0.1em;
    }
}
.homepage-article-body {
    text-align: justify;
    a {
        @include link-underline($background-color, $grey, $selection-color);
    }
}
.homepage-article-link {
    margin-top: 0.5rem;
    a {
        width: 100%;
        display: block;
        padding: 0.5rem 0;
        text-align: right;
        border-bottom: 1px solid $grey;
        &:hover {
            border-bottom: 1px solid $link-hover-color;
        }
    }
}
.homepage-article.about {
    .h4 {
        margin-bottom: 1rem;
    }
    section {
        @extend %homepage-dark-bg;
        // background-color: $orange;
        color: #fff;
        padding: 2rem;
        margin: 1rem 0;
        text-align: justify;
        font-style: italic;
    }
}
.homepage-article.social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 2rem 0;
    .social-icon {
        height: 4rem;
        width: 4rem;
        text-shadow: none;
        background: none;
        svg {
            fill: #fff;
            transition: fill 0.3s ease-in-out;
        }
        &:hover {
            text-shadow: none;
            background: none;
        }
    }
    &:hover a svg {
        fill: $lightest-grey;
    }
    .facebook svg:hover {
        fill: $fb-blue;
    }
    .instagram svg:hover {
        fill: $insta-magenta;
    }
    .linkedin svg:hover {
        fill: $li-blue;
    }
    @extend %homepage-dark-bg;
    // background-color: $pink;
}


.home-projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @extend %homepage-dark-bg;
    padding: 2rem;
    margin: 1rem 0;
    // background-color: $dark-blue;
}
#body .home-projects-list a,
#body .home-projects-list a:hover,
#body .home-projects-list:hover a,
#body .home-projects-list:hover a:hover {
    background: none;
    text-shadow: none;
}
.home-project-link {
    width: 20.01%;
    margin-bottom: 1rem;
    &:nth-child(n+12) {
        margin-bottom: 0;
    }
    // width: 12.5vw;
    // display: block;
    // margin-bottom: 2rem;
    // &:nth-child(n+2) {
    //     margin-bottom: 0;
    // }
}
.home-project-image {
    display: block;
    // transition: filter 0.3s ease-in-out;
    // filter: saturate(30%) opacity(90%);
    // width: 12.5vw;
    // height: 12.5vw;
    // object-fit: cover;
    // &:hover {
    //     filter: none;
    // }
}
.home-contact {
    .h4 {
        margin-bottom: 1rem;
    }
    section {
        @extend %homepage-dark-bg;
        color: #fff;
        padding: 2rem;
        position: relative;
    }
    .home-contact-address {
        // display: inline-block
    }
    .home-contact-map {
        background: none;
        text-shadow: none;
        height: 7.5rem;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        // display: inline-block;
    }
    #home-contact-map-img {
        display: block;
        height: 100%;
        width: auto;
        object-fit: cover;
    }
    // a {
    //     @include link-underline($dark-grey, $lighter-grey, $selection-color);
    // }
    // &:hover {
    //     a {
    //         @include link-underline($darker-grey, $lightest-grey, $selection-color);
    //         &:hover {
    //             @include link-underline($darker-grey, $link-hover-color, $selection-color);
    //         }
    //     }
    // }
}
.home-projects, .home-contact, .instagram, .about {
    .h4 {
        color: $dark-grey;
        transition: color 0.3s ease-in-out;
    }
    &:hover .h4 {
        color: $darker-grey;
    }
}
.instagram {
    figcaption {
        margin-top: 1rem;
    }
}
