%homepage-dark-bg {
    background-color: $lighter-grey;
    color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    &:hover, &:focus, &:active {
        background-color: $lighter-grey;
        color: #fff;
    }
}

.home .site-header {
    transform: translate3d(0,-100%,0);
    transition: transform 0.3s ease-in-out;
}
.home .site-header.unpinned, .home .site-header.headroom--not-top.pinned {
    transform: translate3d(0,0,0);
}
.home .content {
    @extend .container;
    margin-top: 3rem;
}
.grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;
    grid-auto-rows: 5px;
    @include at-least($M) {
        grid-template-columns: 1fr 1fr;
    }
}
.grid-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
.grid-item.visible, .no-js .grid-item {
    opacity: 1;
    visibility: visible;
}
.no-js .grid {
    grid-auto-rows: 1fr;
}

.homepage-article {
    color: $grey;
    transition: color 0.3s ease-in-out;
    &:hover {
        color: $darker-grey;
        .homepage-article-body a {
            @include link-underline($background-color, $darker-grey, $selection-color);
            &:hover {
                @include link-underline($background-color, $link-hover-color, $selection-color);
            }
        }
        .homepage-article-link a {
            border-bottom: 1px solid $darker-grey;
            &:hover {
                border-bottom: 1px solid $link-hover-color;
            }
        }
    }
}
.homepage-article-image {
    margin-bottom: 1rem;
    width: 100%;
    img {
        width: 100%;
    }
}
.homepage-article-title, .homepage-article h2 {
    margin-bottom: 1rem;
    color: $dark-grey;
}
.homepage-article-title, .homepage-article-date {
    display: inline-block;
}
.homepage-article-date {
    display: none;
    float: right;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 1rem;
    @include at-least($M) {
        top: 0.25rem;
        font-size: 0.75rem;
        letter-spacing: 0.1em;
    }
    @include at-least($L) {
        letter-spacing: 0.1em;
    }
}
.homepage-article-body {
    text-align: justify;
    a {
        @include link-underline($background-color, $grey, $selection-color);
    }
}
.homepage-article-link {
    margin-top: 0.5rem;
    a {
        width: 100%;
        display: block;
        padding: 0.5rem 0;
        text-align: right;
        border-bottom: 1px solid $grey;
        &:hover {
            border-bottom: 1px solid $link-hover-color;
        }
    }
}
.homepage-article.about {
    .h4 {
        margin-bottom: 1rem;
    }
    section {
        @extend %homepage-dark-bg;
        // background-color: $orange;
        color: #fff;
        padding: 2rem;
        margin: 1rem 0;
        text-align: justify;
        font-style: italic;
    }
}
.homepage-article.social {
    @extend %homepage-dark-bg;
    .homepage-article-content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        padding: 2rem 0;
        .social-icon {
            height: 4rem;
            width: 4rem;
            text-shadow: none;
            background: none;
            svg {
                fill: #fff;
                transition: fill 0.3s ease-in-out;
            }
            &:hover {
                text-shadow: none;
                background: none;
            }
        }
        &:hover a svg {
            fill: $lightest-grey;
        }
        .facebook svg:hover {
            fill: $fb-blue;
        }
        .instagram svg:hover {
            fill: $insta-magenta;
        }
        .linkedin svg:hover {
            fill: $li-blue;
        }
    }
}


.home-projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
}
#body .home-projects-list a,
#body .home-projects-list a:hover,
#body .home-projects-list:hover a,
#body .home-projects-list:hover a:hover {
    background: none;
    text-shadow: none;
}
.home-project-link {
    width: 20.01%;
    margin-bottom: 1.5rem;
    &:nth-child(n+12) {
        margin-bottom: 0;
    }
}
.home-project-image {
    display: block;
}

.home-contact {
    .h4 {
        margin-bottom: 1rem;
    }
    section {
        @extend %homepage-dark-bg;
        color: #fff;
        padding: 2rem;
        position: relative;
    }
    .home-contact-address {
    }
    .home-contact-map {
        background: none;
        text-shadow: none;
        height: 7.5rem;
        position: absolute;
        right: 2rem;
        bottom: 2rem;
    }
    #home-contact-map-img {
        display: block;
        height: 100%;
        width: auto;
        object-fit: cover;
    }

}
.home-projects, .home-contact, .instagram, .about {
    .h4 {
        color: $dark-grey;
        transition: color 0.3s ease-in-out;
    }
    &:hover .h4 {
        color: $darker-grey;
    }
}
.instagram {
    figcaption {
        margin-top: 1rem;
    }
}
