.project .content {
    @extend .container;
}

.left-content {
    float: left;
    margin-right: 0;
    padding-bottom: 0;
    // margin-right: calc(50% + 2rem);
    width: calc(50% - 1rem);
    @include at-least($L) {
        width: calc(50% - 2rem);
    }
    &.fixed {
        overflow: hidden;
        position: fixed;
        top: 7rem;
        left: 2.5%;
        width: calc(48.5% - 1rem);
        z-index: 1;
        @include at-least($M) {
            left: 12.5%;
            width: calc(37.5% - 1rem);
        }
        @include at-least($L) {
            left: 16.65%;
            width: calc(33.35% - 2rem);
        }
        @include at-least($XL) {
            left: 25%;
            width: calc(25% - 2rem);
        }
    }
}
.right-content {
    float: right;
    margin-left: 0;
    width: calc(50% - 1rem);
    // margin-left: calc(50% + 2rem);
    @include at-least($L) {
        width: calc(50% - 2rem);
    }
    &.fixed {
        overflow: hidden;
        position: fixed;
        top: 7rem;
        right: 2.5%;
        width: calc(48.5% - 1rem);
        z-index: 1;
        @include at-least($M) {
            right: 12.5%;
            width: calc(37.5% - 1rem);
        }
        @include at-least($L) {
            right: 16.65%;
            width: calc(33.35% - 2rem);
        }
        @include at-least($XL) {
            right: 25%;
            width: calc(25% - 2rem);
        }
    }
}

.project-meta {
    display: block;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: $lightest-grey;
    padding: 1rem;
    margin-bottom: 1.5rem;
    h3 {
        margin-top: 0;
    }
    ul {
        text-transform: none;
        letter-spacing: normal;
        list-style-type: none;
    }
}
.project .right-content {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
.project .right-content.visible, .no-js .project .right-content {
    opacity: 1;
    visibility: visible;
}

.project .left-content p {
    text-align: justify;
}
.project .left-content blockquote {
    margin-bottom: 1rem;
    font-style: italic;
    color: $grey;
}
.project .left-content a {
    @include link-underline($background-color, $text-color, $selection-color);
    &:hover {
        @include link-underline($background-color, $link-hover-color, $selection-color);
    }
}

.project-img, .article-image-link {
    margin-bottom: 2rem;
    display: block;
    &:last-child {
        margin-bottom: 0;
    }
}
.right-content img {
  display: block;
  width: 100%;
}
